<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376498785645-91hqg7d8t0410tlvrhqjt4fu4bhraooc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376498785645-91hqg7d8t0410tlvrhqjt4fu4bhraooc</string>
	<key>API_KEY</key>
	<string>AIzaSyAS190y6_7tVpf53BpLTw_N2ERdU34lVCw</string>
	<key>GCM_SENDER_ID</key>
	<string>376498785645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ustech.ads</string>
	<key>PROJECT_ID</key>
	<string>adsustech-1f299</string>
	<key>STORAGE_BUCKET</key>
	<string>adsustech-1f299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376498785645:ios:8358047bf3bbdacc215e64</string>
	<key>DATABASE_URL</key>
	<string>https://adsustech-1f299-default-rtdb.firebaseio.com</string>
</dict>
</plist>